* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {  /*fixes weird whitespace on the right*/
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background-color: #e1e7ee;
  overflow-x: hidden;
}

.navigation_bar {
  background-color: #1c87c9;
  text-align: center;
}

ul.navigation_bar {
  margin-bottom: 0px;
  padding: 0;
  font-size: 20px;
}

.navigation_bar li {
  display: inline-block;
  padding: 10px;
}

.navigation_bar li a {
  text-decoration: none;
  color: white;
}

.intro { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("Images/circular-economy_header.jpg");
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  color: green;
  padding-top: 7vw;
}

h2 {
  color: #14569f;
  text-align: center;
  margin-top: 10vh;
}

#intro_title {
  background-color: #f5fcff;
  margin-top: 10vh;
  /*font-size: 8vw;*/
}

#invitation {
  background-color: #f5fcff;
  margin-top: 7vh;
  margin-bottom: 10vh;
  /*font-weight: 900;*/
}

.button {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 13px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5vh;
  margin-bottom: 10vh;
  cursor: pointer;
}

.top {
  text-align: center; 
  margin-top: 30px;
  margin-bottom: 30px;
}

.map-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  margin-right: 15px;
}

.map-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  margin: 20px 20px;
}

.about {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

ul.about_list {
  list-style-type: square;
  margin-left: 5em;
  margin-top: 1em;
}

.rrr {
  margin-left: 20px;
  margin-right: 20px;
}

/*=============SECTION THE R FAMILY============*/
.test-container {
  position: relative;
  left: 15%;
  margin-bottom: 2em;
  margin-top: 2em;
}

#first-img {
  width: 70%;
  height: auto;
}

#caption1 {
  background-color: rgba(250, 250, 250, 0.8);
  position: absolute;
  width: 70%;
  left: 0;
  top: 80%;
  text-align: left;
  font-size: 2.5vw;
  height: 19%;
  padding: 5px;
}

.grid_R {
	display: flex;
	justify-content: space-around;
	margin-left: 2em;
}

.flex {
  position: relative;
  margin-bottom: 2em;
  margin-top: 2em;
}

.flex img {
  height: auto;
  width: 15em;
}

#caption_left {
  background-color: rgba(250, 250, 250, 0.8);
  position: absolute;
  width: 100%;
  left: 0;
  top: 79%;
  text-align: center;
  font-size: 2vw;
  height: 70%;
  padding: 5px;
}

.caption3 {
  background-color: rgba(250, 250, 250, 0.8);
  position: absolute;
  width: 100%;
  left: 0;
  top: 79%;
  text-align: center;
  font-size: 2vw;
  height: 97%;
  padding: 5px;
}

#caption_right {
	height: 44%;
}

/*================PROJECTS===============*/

#projects .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0.625em;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
#projects {
	margin-top: 14em;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-text {
	font-size: 20px;
}

.team-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.team-photos .grid-item {
	font-size: 15px;
}

.team_item {
  float: left;
  width: 32%;
  margin:5px;
}

footer {
	background-color: #1c87c9;
	text-align: center;
}

#footer {
	padding-top: 30px;
	padding-bottom: 20px;
}

img {
  max-width: 100%;
}

@media screen and (min-width:481px) and (max-width: 800px){
  body {
    
    margin: 0;
  }
  .top {
	  text-align: center; 
	  margin-top: 10px;
	  margin-bottom: 10px;
  }
  
  h2{
  	margin-top: 6vh;
  }
	#caption_left {
    font-size: 3vw;
    height: 59%;
	}
	.caption3 {
    font-size: 3vw;
	}
}

@media screen and (max-width: 480px){

  body {
    padding: 0;
    margin: 0;
  }
  
  .grid_R {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .flex {
    position: relative;
    margin-bottom: 1em;
    margin-top: 3em;
  }

  #caption1 {
    font-size: 4vw;
    height: 30%;
    width: 70%;
    top: 100%;
  }
  
  #caption_left {
    font-size: 4.5vw;
    height: 55%;
    top: 64%;
    width: 100%;
    
  }

  #caption_center {
    font-size: 4.2vw;
    height: 58%;
    width: 100%;
  }

  .caption3 {
    font-size: 4.5vw;
    top: 58%;
    height: 34%;
    text-align: center;
    margin-bottom: 3em;
  }

  .flex img {
    height: auto;
    width: 10em;
    margin-bottom: 5em;
    margin-top: 5vh;
  }

	#projects {
		margin-top: 0;
	}
  
  .intro {
    height: auto;
  }
  
  ul.navigation_bar {
  	margin-top: 0px;
  }

  .team-photos {
	  display: grid;
	  grid-template-columns: 1fr 1fr;
  }
}
